form{
    margin-right:300px;
    margin-left: 300px;
}
label{
    margin-top: 20px;
    margin-bottom: 10px;
}
p{
    text-align: center;
}
table{
    border-color: black;
    width:70%;
    margin-left: 180px;
    
}
td,th{
    text-align: center;
}
.error{
    color: red;
}