<h2 >Available Drugs</h2>
<div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th >Drug Name</th>
            <th >Manufactured By</th>
            <th>Manufacture Date</th>
            <th >Expiry Date</th>
            <th>Location - Quantity</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor='let drug of drugs'>
            <td>{{drug.drugName}}</td>
            <td>{{drug.manufacturer}}</td>
            <td>{{ drug.manufactureDate | date : 'dd-MM-yyyy'}}</td>
            <td>{{drug.expiryDate | date : 'dd-MM-yyyy'}}</td>
            
            <td>

             <p *ngFor='let loc of drug.druglocationQuantities'> {{loc.location}} - {{loc.quantity}} </p>
            </td>
        </tr>

    </tbody>
</table>
</div>

