
a{
    color: beige;
    font-weight: bold;
}
.logout{
    margin-left: 250px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(150, 184, 207);
    color: white;
    text-align: center;
  }
