<h2>Subscriptions</h2>
<br>
<div *ngIf="subscribed">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Drug Name</th>
                <th>Quantity</th>
                <th>Refill Cycle</th>
                <th>Status</th>
                <th>Location</th>
                <th>Actions</th>
                


            </tr>
        </thead>
        <tbody *ngFor='let sub of subscriptions'>
            <tr>
                <td>{{sub.drugName}}</td>
                <td>{{sub.quantity}}</td>
                <td>{{sub.refillCycle}}</td>
                <td>active</td>
                <td>{{sub.memberLocation}}</td>
                <td>
                    <button class="btn btn-success" (click)="unsubscribe(sub.subscriptionId)">Unsubscribe</button> |
                    <button class="btn btn-success" (click)="refill(sub.subscriptionId)">Refill</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>
<div *ngIf="!subscribed && !unsubed">
    <p>NO SUBSCRIPTIONS AVAILABLE</p>
</div>
<div *ngIf="unsubed">
<p>You have Successfully Unsubscribed</p>
<button class="btn btn-info" (click)="showsubscriptions()">Show All Subscriptions</button>
</div>