
div{
    margin-right: 300pt;
}

p{
    text-align: center;
}
.form{
    margin-top: 40px;
    margin-right: 500px;
}
.error{
    color: red;
}
table{
    border-color: black;
}
td,th{
    text-align: center;
}