p{
    text-align: center;
}

h2,h3{
    text-align: center;
}
.form{
    margin-top: 40px;
    margin-right: 300px;
    margin-left: 300px;
}


label{
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.message{
    color: green;
}